{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello to NAIJE</h1>

    <div>Add a review, click :
        <a href="{{ path('avis') }}" class="details-link" title="More Details"> ici </a>
    </div>

    <div style="display: flex; justify-content: space-around">
        {% for review in reviews %}

            {% include 'partial/review.html.twig' with {
                review: review.review,
                firstName: review.firstName,
                lastName: review.lastName,
            } %}

        {% endfor %}
    </div>


</div>
{% endblock %}
