{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="homepage">

    <section class="banner">
        <div>
            <h1>Trouvez le domaine de ski de vos rêves</h1>
            <p>Retrouvez toutes les informations des stations et domaines skiables de France, accessible en quelques cliques.</p>
        </div>
    </section>


    <section class="domaines">
        <h1>Les Domaines de France</h1>

        <div class="domaine">

            {% for domaine in domaines %}

            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/homepage.jpg') }}');">
                <a href="{{ path('/app_domain', {'id': domaine.id}) }}">
                    <h1>{{ domaine.name }}</h1>
                </a>
            </div>

            {% endfor %}

        </div>
    </section>

    <section class="avis">

        {% if reviews %}
        <div class="lesavis">
            {% for review in reviews %}

                {% include 'partial/review.html.twig' with {
                    review: review.review,
                    firstName: review.firstName,
                    lastName: review.lastName,
                } %}
            {% endfor %}
        </div>
        {% endif %}



        {% if not reviews %}
            <p class="aucun">Aucun avis n'a été donné.</p>
        {% endif %}

    </section>

    <section class="formulaire">

        <div class="text">
            <h1>Laissez nous un avis</h1>
            <p>Si vous avez aimé notre site, laissez nous un avis :) </p>
        </div>

        {% include "partial/form.html.twig" %}
    </section>


</div>
{% endblock %}
