{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="homepage">

    <section class="banner">
        <div>
            <h1>Trouvez le domaine de ski de vos rêves</h1>
            <p>Retrouvez toutes les informations des stations et domaines skiables de France, accessible en quelques cliques.</p>
        </div>
    </section>


    <section class="domaines">

    </section>


    <section class="avis">
        <div style="display: flex; justify-content: space-around">
            {% for review in reviews %}

                {% include 'partial/review.html.twig' with {
                    review: review.review,
                    firstName: review.firstName,
                    lastName: review.lastName,
                } %}

            {% endfor %}
        </div>
    </section>

    <section class="form">
        <h1>Add a review</h1>
        {% include "partial/form.html.twig" %}
    </section>


</div>
{% endblock %}
