.idea/
###> symfony/framework-bundle ###
.DS_Store
.idea
.vscode
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/stations/
/var/
/vendor/
###< symfony/framework-bundle ###
