footer {
  padding: 70px 100px;
  height: 450px;
  background-color: #4E0000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (max-width: 1024px)  {
    height: auto;
  }

  .infos {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px)  {
      flex-direction: column;
      gap: 35px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .logo {
        font-family: Fruktur;
        font-size: 80px;
      }
    }

    .lien, .propos {

      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        text-transform: uppercase;
        font-size: 28px;
        font-family: Oswald;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-weight: normal;

        &::after {
          content: '';
          width: 0px;
          height: 2px;
          display: block;
          background: #fff;
          transition: 300ms;
        }

        &:hover::after {
          width: 100%;
        }
      }

    }

    .up {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 996;
      background-color: #fff;
      color: #4E0000;
      border-radius: 50px;
      transition: all 1s;

      &:hover {
        cursor: pointer;
      }
    }
  }

  p, a{
    font-size: 20px;
    font-family: Comic Neue;
    color: #fff;
    text-decoration: none;
  }

  .mention {
    font-size: 16px;
  }

}