footer {
  padding: 70px 100px;
  height: 450px;
  background-color: #4E0000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .infos {
    display: flex;
    justify-content: space-between;

    .contact {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .logo {
        font-family: Fruktur;
        font-size: 80px;
      }
    }

    .lien, .propos {

      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        text-transform: uppercase;
        font-size: 28px;
        font-family: Oswald;
      }

    }

    .up {
      height: 60px;
      width: 60px;
      background-color: #fff;
      color: #4E0000;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
    }
  }

  p, a{
    font-size: 20px;
    font-family: Comic Neue;
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .mention {
    font-size: 16px;
  }

}