.homepage {
  display: flex;
  flex-direction: column;
  gap: 150px;

  .banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/homepage.jpg');
    background-size: cover;

    div {
      width: 100%;
      height: 100%;
      padding: 220px 240px;
      background-color: rgba(78, 0, 0, .15);
      backdrop-filter: blur(10px);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 65px;

      @media screen and (max-width: 1024px)  {
        padding: 200px;
      }

      h1 {
        font-family: Gelasio;
        font-size: 48px;
        text-align: center;
      }

      p {
        padding: 0 100px;
        font-family: Comic Neue;
        font-size: 32px;
        text-align: center;
      }
    }
  }

  .domaines {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    & > h1 {
      font-size: 36px;
      font-family: Oswald;
      color: #4E0000;
      padding: 10px 80px;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 267px;
        height: 50px;
        border: 3px solid #4E0000;
      }

      &::before {
        top: -10px;
        left: -10px;
        border-width: 3px 0 0 3px;
      }

      &::after {
        bottom: -10px;
        right: -10px;
        border-width: 0 3px 3px 0;
      }
    }

    .domaine {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      padding-bottom: 100px;

      .card-domaine {
        width: 45%;
        height: 450px;
        border-radius: 10px;

        @media screen and (max-width: 1024px)  {
          height: 300px;
          width: 100%;
        }

        a {
          color: #fff;
          font-family: Gelasio;
          text-decoration: none;
          font-size: 28px;
          text-align: center;
        }

        h1 {
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: rgba(78, 0, 0, .3);
        }
      }
    }
  }

  .avis {
    padding: 0 100px;

    .lesavis {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    .aucun {
      padding: 10px;
      width: 100%;
      background-color: #4E0000;
      color: #fff;
      border-radius: 10px;
    }
  }
}