* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 15px 50px;
  height: 76px;
  background-color: #4E0000;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
header .logo a {
  font-family: Fruktur;
  font-size: 36px;
}
header nav {
  font-family: Oswald;
  font-size: 28px;
  display: flex;
  gap: 60px;
}

.login_background {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_background .login {
  background: #fff;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
}
.login_background .login_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}
.login_background .login_header .login_title {
  font-family: "Gelasio", serif;
  color: #4E0000;
  font-weight: 900;
  font-size: 28px;
}
.login_background .login_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 80%;
}
.login_background .login_fields div {
  width: 100%;
  position: relative;
}
.login_background .login_fields div label {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  transition: all 0.4s;
}
.login_background .login_fields div input {
  border: none;
  border-bottom: 2px solid #4E0000;
  padding: 10px;
  font-size: 16px;
  color: #4E0000;
  width: 100%;
}
.login_background .login_fields div input:focus {
  outline: none;
}
.login_background .login_fields div input:empty + label {
  top: 10px;
}
.login_background .login_fields div input:focus + label, .login_background .login_fields div input:valid + label {
  top: -15px;
}
.login_background .login_footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_background .login_footer button {
  width: 100%;
  height: 50px;
  background: #4E0000;
  color: #fff;
  font-family: "Gelasio", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}
.login_background .login_footer button:hover {
  font-size: 16px;
}
.login_background .login_footer a {
  color: #4E0000;
  margin: 10px 0 0;
  text-decoration: none;
}
.login_background .login_footer a:hover {
  text-decoration: underline;
}
.login_background .login_footer .error-message {
  margin: 10px 0 0;
}
.login_background .login_footer .logout {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 0;
  font-size: 12px;
}
.login_background .login_footer .logout a {
  margin: 5px 0 0;
}

.register_background {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/register-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_background .register {
  background: #fff;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
}
.register_background .register_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}
.register_background .register_header .register_title {
  font-family: "Gelasio", serif;
  color: #4E0000;
  font-weight: 900;
  font-size: 28px;
}
.register_background .register_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 80%;
}
.register_background .register_fields div {
  width: 100%;
  position: relative;
}
.register_background .register_fields div label {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 10px;
  transition: all 0.4s;
  color: #4E0000;
}
.register_background .register_fields div input, .register_background .register_fields div select {
  border: none;
  border-bottom: 2px solid #4E0000;
  padding: 10px;
  font-size: 16px;
  color: #4E0000;
  width: 100%;
}
.register_background .register_fields div input:focus, .register_background .register_fields div select:focus {
  outline: none;
}
.register_background .register_fields div option[value="0"] {
  margin-top: 10px;
}
.register_background .register_fields div option:hover {
  cursor: pointer;
}
.register_background .register_footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register_background .register_footer button {
  width: 100%;
  height: 50px;
  background: #4E0000;
  color: #fff;
  font-family: "Gelasio", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}
.register_background .register_footer button:hover {
  font-size: 16px;
}
.register_background .register_footer p {
  margin-top: 10px;
}
.register_background .register_footer a {
  color: #4E0000;
  margin: 10px 0 0;
  text-decoration: none;
}
.register_background .register_footer a:hover {
  text-decoration: underline;
}
.register_background .register_footer .error-message {
  margin: 10px 0 0;
}
.register_background .register_footer .logout {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 0;
  font-size: 12px;
}
.register_background .register_footer .logout a {
  margin: 5px 0 0;
}

.domain__banner {
  width: 100vw;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  .domain__banner {
    text-align: center;
  }
  .domain__banner h1, .domain__banner p {
    width: 80%;
  }
}
.domain__banner img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.domain__banner h1 {
  font-size: 60px;
  font-family: "Gelasio", serif;
  font-weight: 900;
  color: #FFFFFF;
}
.domain__banner p {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  font-family: "Comic Neue", sans-serif;
}

.domain__content {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.domain__content h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: #4E0000;
  position: relative;
  margin-bottom: 100px;
}
@media screen and (max-width: 650px) {
  .domain__content h2 {
    width: 80%;
    text-align: center;
  }
}
.domain__content h2::before, .domain__content h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 75%;
}
.domain__content h2::before {
  border-top: 4px solid #4E0000;
  border-left: 4px solid #4E0000;
  top: -5px;
  left: -20px;
}
.domain__content h2::after {
  border-bottom: 4px solid #4E0000;
  border-right: 4px solid #4E0000;
  bottom: -10px;
  right: -20px;
}

.station-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
  margin: 25px auto;
}
@media screen and (max-width: 800px) {
  .station-card {
    flex-direction: column;
    height: auto;
  }
}
.station-card .station-pic {
  height: 100%;
  width: 30%;
  border-radius: 10px;
  background: url("../images/station-pic.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .station-card .station-pic {
    width: 100%;
    height: 200px;
  }
}
.station-card .station-pic a {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Gelasio", serif;
  text-decoration: none;
}
.station-card .station-pic a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.station-card .station-description {
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Comic Neue", sans-serif;
  gap: 15px;
}
@media screen and (max-width: 800px) {
  .station-card .station-description {
    width: 80%;
    margin: 15px auto;
    align-items: center;
    text-align: center;
  }
}
.station-card .station-description a {
  font-size: 24px;
  font-weight: 900;
  color: #4E0000;
  text-decoration: none;
}
.station-card .station-description a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.station-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
  .station-card img {
    margin: 20px auto;
  }
}

body > div.station {
  position: relative;
  margin-bottom: 112px;
}
body > div.station img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center;
}
body > div.station .overlay {
  background: rgba(78, 0, 0, 0.15);
  position: absolute;
  inset: 0;
  height: 75vh;
}
body > div.station .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body > div.station .content h2 {
  color: #FFFFFF;
  font-family: "Gelasio", serif;
  font-size: 48px;
  margin-bottom: 64px;
  text-align: center;
}
body > div.station .content p {
  color: #FFFFFF;
  font-family: "Comic Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

main.station {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.station h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #4E0000;
  background: #FFFFFF;
  padding: 1rem 72px;
  margin-bottom: 112px;
  position: relative;
  width: fit-content;
}
main.station h1:before {
  content: "";
  width: 50%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4E0000;
  transform: translate(-4px, -4px);
  z-index: -1;
}
main.station h1:after {
  content: "";
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #4E0000;
  transform: translate(4px, 4px);
  z-index: -1;
}
main.station .stations {
  margin-bottom: 112px;
  width: 100%;
}
main.station .stations .station {
  width: 100%;
  height: 17.75rem;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  main.station .stations .station {
    height: auto;
  }
}
main.station .stations .station:last-child {
  margin-bottom: 0;
}
main.station .stations .station .station__view {
  height: 100%;
  aspect-ratio: 384/286;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.station .stations .station .station__view {
    display: none;
  }
}
main.station .stations .station .station__view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
main.station .stations .station .station__view h4 {
  display: grid;
  place-items: center;
  background: rgba(78, 0, 0, 0.1882352941);
  position: absolute;
  inset: 0;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
main.station .stations .station .station__main {
  padding: 2rem 4rem 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main.station .stations .station .station__main {
    flex-direction: column-reverse;
    padding: 2rem;
  }
}
main.station .stations .station .station__main .station__content {
  width: 70%;
  height: 100%;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  main.station .stations .station .station__main .station__content {
    margin-right: 0;
  }
}
main.station .stations .station .station__main .station__content h4 {
  margin-bottom: 1rem;
  font-family: "Gelasio", serif;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  main.station .stations .station .station__main .station__content h4 {
    text-align: center;
  }
}
main.station .stations .station .station__main .station__content h4 a {
  color: #4E0000;
}
main.station .stations .station .station__main .station__content h4 span {
  font-size: 16px;
}
main.station .stations .station .station__main .station__content h4:hover {
  text-decoration: underline #4E0000;
}
main.station .stations .station .station__main .station__content p {
  font-family: "Comic Neue", sans-serif;
}
main.station .stations .station .station__main .station__logo {
  width: 25%;
}
@media screen and (max-width: 768px) {
  main.station .stations .station .station__main .station__logo {
    width: 50%;
  }
}

div.station-single {
  position: relative;
  margin-bottom: 112px;
}
div.station-single img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
div.station-single .overlay {
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.7) 0%, rgba(22, 22, 22, 0.7) 27.6%, rgba(22, 22, 22, 0) 100%);
  position: absolute;
  inset: 0;
  height: 50vh;
}
div.station-single h2 {
  font-family: Gelasio;
  font-size: 48px;
  position: absolute;
  left: 54px;
  bottom: 36px;
  color: white;
}

main.station-single {
  padding: 0 10%;
}
main.station-single .station__infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
main.station-single .station__infos h1 {
  font-family: Gelasio;
  font-size: 64px;
  color: #4E0000;
}
main.station-single .station__description {
  font-size: 28px;
  font-family: "Comic Neue";
  margin-bottom: 96px;
}
main.station-single .levels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
main.station-single .levels .level {
  padding: 1rem 3rem;
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 24px;
  background: #4E0000;
  border-radius: 10px;
  cursor: pointer;
  border: solid 4px #4E0000;
}
main.station-single .levels .level.active {
  background: #FFFFFF;
  color: #4E0000;
}
main.station-single .select {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
}
main.station-single .select:before {
  content: "";
  width: 50%;
  height: 4px;
  background: #4E0000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
main.station-single .select.toggled:before {
  transform: translate(100%);
}
main.station-single .select h3 {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-family: Gelasio;
  font-size: 36px;
}
main.station-single .tab {
  width: 100%;
  overflow: hidden;
}
main.station-single .lists {
  width: 200%;
  display: flex;
  transition: 0.5s;
  margin-bottom: 112px;
}
main.station-single .lists.toggled {
  transform: translate(-50%);
}
main.station-single .tracks {
  width: 50%;
}
main.station-single .tracks .track {
  position: relative;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Oswald;
}
main.station-single .tracks .track.hide {
  display: none;
}
main.station-single .tracks .track:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}
main.station-single .tracks .track:last-child:before {
  content: none;
}
main.station-single .tracks .track > div {
  display: flex;
  align-items: center;
  width: 33.3333333333%;
}
main.station-single .tracks .track > div .track__color {
  height: 2rem;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}
main.station-single .tracks .track > div .track__name {
  font-family: Oswald;
  font-size: 36px;
  white-space: nowrap;
}
main.station-single .tracks .track > div.status {
  justify-content: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
}
main.station-single .tracks .track > div.timers {
  justify-content: end;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}
main.station-single .tracks .track > div.timers span {
  color: #0E730E;
}
main.station-single .tracks .track > div.timers span:last-child {
  color: #FF0E0E;
}
main.station-single .lifts {
  width: 50%;
}
main.station-single .lifts .lift {
  position: relative;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Oswald;
}
main.station-single .lifts .lift:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}
main.station-single .lifts .lift:last-child:before {
  content: none;
}
main.station-single .lifts .lift > div {
  display: flex;
  align-items: center;
  width: 33.3333333333%;
}
main.station-single .lifts .lift .info img {
  height: 2rem;
  object-fit: contain;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}
main.station-single .lifts .lift .info .lift__name {
  font-family: Oswald;
  font-size: 36px;
  white-space: nowrap;
}
main.station-single .lifts .lift .status {
  justify-content: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}
main.station-single .lifts .lift .status > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
main.station-single .lifts .lift .timers {
  justify-content: end;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}
main.station-single .lifts .lift .timers span {
  color: #0E730E;
}
main.station-single .lifts .lift .timers span:last-child {
  color: #FF0E0E;
}

footer {
  padding: 70px 100px;
  height: 450px;
  background-color: #4E0000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .infos {
  display: flex;
  justify-content: space-between;
}
footer .infos .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .infos .contact .logo {
  font-family: Fruktur;
  font-size: 80px;
}
footer .infos .lien, footer .infos .propos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .infos .lien h1, footer .infos .propos h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
}
footer .infos .up {
  height: 60px;
  width: 60px;
  background-color: #fff;
  color: #4E0000;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}
footer .infos .up:hover {
  cursor: pointer;
}
footer p, footer a {
  font-size: 20px;
  font-family: "Comic Neue", sans-serif;
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .mention {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
