* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 15px 50px;
  height: 76px;
  background-color: #4E0000;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
header .logo a {
  font-family: Fruktur;
  font-size: 36px;
}
header nav {
  font-family: Oswald;
  font-size: 28px;
  display: flex;
  gap: 60px;
}

footer {
  padding: 70px 100px;
  height: 450px;
  background-color: #4E0000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .infos {
  display: flex;
  justify-content: space-between;
}
footer .infos .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .infos .contact .logo {
  font-family: Fruktur;
  font-size: 80px;
}
footer .infos .lien, footer .infos .propos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .infos .lien h1, footer .infos .propos h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: Oswald;
}
footer .infos .up {
  height: 60px;
  width: 60px;
  background-color: #fff;
  color: #4E0000;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}
footer p, footer a {
  font-size: 20px;
  font-family: Comic Neue;
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .mention {
  font-size: 16px;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.homepage .banner {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-img/homepage.jpg");
  background-size: cover;
}
.homepage .banner div {
  width: 100%;
  height: 100%;
  padding: 220px 240px;
  background-color: rgba(78, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.homepage .banner div h1 {
  font-family: Gelasio;
  font-size: 48px;
  text-align: center;
}
.homepage .banner div p {
  padding: 0 100px;
  font-family: Comic Neue;
  font-size: 32px;
  text-align: center;
}
@media screen and (max-width: 769px) {
  .homepage .banner div p {
    padding: 0 50px;
  }
}
.homepage .domaines {
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.homepage .domaines > h1 {
  font-size: 36px;
  font-family: Oswald;
  color: #4E0000;
  padding: 10px 80px;
  position: relative;
}
.homepage .domaines > h1::before, .homepage .domaines > h1::after {
  content: "";
  position: absolute;
  width: 267px;
  height: 50px;
  border: 3px solid #4E0000;
}
.homepage .domaines > h1::before {
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}
.homepage .domaines > h1::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 3px 3px 0;
}
.homepage .domaines .domaine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 100px;
}
.homepage .domaines .domaine .card-domaine {
  width: 45%;
  height: 450px;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .homepage .domaines .domaine .card-domaine {
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .homepage .domaines .domaine .card-domaine {
    width: 100%;
    height: 250px;
  }
}
.homepage .domaines .domaine .card-domaine a {
  color: #fff;
  font-family: Gelasio;
  text-decoration: none;
  font-size: 28px;
  text-align: center;
}
.homepage .domaines .domaine .card-domaine h1 {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 0, 0, 0.3);
}
.homepage .avis {
  padding: 0 100px;
}
.homepage .avis .lesavis {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.homepage .avis .aucun {
  padding: 10px;
  width: 100%;
  background-color: #4E0000;
  color: #fff;
  border-radius: 10px;
}

.review {
  width: 45%;
  height: 300px;
  background-color: #4E0000;
  border-radius: 10px;
  border: 3px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .review {
    height: 200px;
  }
}
.review:first-child {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .review:first-child {
    top: -50px;
  }
}
.review .avisclient {
  font-family: Gelasio;
  font-size: 36px;
  text-align: center;
}
.review .name {
  font-family: Comic Neue;
  font-size: 32px;
  position: absolute;
  bottom: 10px;
}

.formulaire {
  padding: 0 100px 150px 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 500px) {
  .formulaire {
    flex-direction: column;
  }
}
.formulaire .text {
  width: 30%;
  color: #4E0000;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.formulaire .text h1 {
  font-family: Gelasio;
}
.formulaire .text p {
  font-family: Comic Neue;
}
.formulaire .form {
  width: 70%;
  height: 500px;
  background-color: #4E0000;
  border-radius: 10px;
  color: #fff;
  position: relative;
}
.formulaire .form form {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: Comic Neue;
  font-size: 24px;
}
.formulaire .form form .names {
  display: flex;
  justify-content: space-between;
}
.formulaire .form form .names div {
  position: relative;
}
.formulaire .form form .names div label {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
.formulaire .form form .names div input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}
.formulaire .form form .textavis {
  position: relative;
}
.formulaire .form form .textavis label {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.formulaire .form form .textavis textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}
.formulaire .form button {
  padding: 10px 70px;
  color: #4E0000;
  font-family: Oswald;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/*# sourceMappingURL=style.css.map */
