<footer>

    <div class="infos">
        <div class="contact">
            <div class="logo">NAIJE</div>
            <div class="contacts">
                <p>Naije</p>
                <p>Paris, France</p>
                <p>contact@naije.com</p>
                <p>01.01.01.01.01</p>
            </div>
        </div>

        <div class="lien">
            <h1>Liens utiles</h1>

            <div class="link">
                <p><a href="{{ path('app_index') }}">Accueil</a></p>
                <p><a href="{{ path('app_index') }}">Les Domaines</a></p>
                <p><a href="{{ path('app_index') }}">Les Stations</a></p>
            </div>

        </div>

        <div class="propos">
            <h1>à propos</h1>

            <div class="link">
                <p>Mentions légales</p>
                <p>Conditions générales d’utilisations</p>
            </div>
        </div>

        <button class="up">
            <img src="{{ asset('arrowUp.png', 'source') }}" alt="">
        </button>
    </div>

    <p class="mention">
        © Copyright Univers-Plaid™ 2023 · Tous droits réservés
    </p>

</footer>