<header id="header" class="d-flex align-items-center">

    <div class="logo">
        <h1><a href="{{ path('app_index') }}">NAIJE</a></h1>
    </div>

    <nav id="navbar" class="navbar">
        <li><a class="nav-link scrollto active" href="{{ path('/app_domain') }}">Domaines</a></li>
        <li><a class="nav-link scrollto active" href="{{ path('/app_station') }}">Stations</a></li>
    </nav>

</header>